<header>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo.png" alt="Logo" />
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="navbar-collapse">
      <form class="form mx-auto">
        <div class="input-group">
          <input type="text" class="form-control" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </div>
        </div>
      </form>
      <ul class="navbar-nav">
        <button class="btn-primary tienda" type="button" href="#" routerLink="crear-tienda">
          Crear Tienda
        </button>
        <li class="nav-item">
          <div class="btn-group" dropdown>
            <a
              href="javascript:void(0)"
              id="button-basic"
              dropdownToggle
              type="button"
              class="nav-link"
              aria-controls="dropdown-basic"
            >
              <fa-icon [icon]="faUser" [classes]="['fa-lg']"></fa-icon>
            </a>
            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu"
              role="menu"
              aria-labelledby="button-basic"
            >
              <ng-container *ngIf="islogged(); else loggedout">
                <li role="menuitem">
                  <a
                    [ngClass]="{
                      'dropdown-item active': pagina() == '/tienda',
                      'dropdown-item': pagina() != '/tienda'
                    }"
                    href="#"
                    routerLink="tienda"
                    >Perfil</a
                  >
                </li>
                <li role="menuitem">
                  <a
                    [ngClass]="{
                      'dropdown-item active': pagina() == '/pedidos',
                      'dropdown-item': pagina() != '/pedidos'
                    }"
                    href="#"
                    >Pedidos</a
                  >
                </li>
                <li role="menuitem">
                  <a
                    [ngClass]="{
                      'dropdown-item active': pagina() == '/micuenta',
                      'dropdown-item': pagina() != '/micuenta'
                    }"
                    href="#"
                    routerLink="micuenta"
                    >Cuenta</a
                  >
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a class="dropdown-item" href="#" (click)="salir()">Salir</a>
                </li>
              </ng-container>
              <ng-template #loggedout>
                <li role="menuitem">
                  <a class="dropdown-item" href="/login">Entrar</a>
                </li>
              </ng-template>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <fa-icon [icon]="faShoppingCart" [classes]="['fa-lg']"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
