<h3>TERMINOS Y CONDICIONES</h3>

<p>Importante: El dominio www.allkets.com es el único existente de la empresa Allkets.com, 
    no somos responsables de términos y condiciones de uso de otros sitios web con nombres 
    similares o que se hagan pasar por Allkets.com, verifique que el dominio no tenga 
    modificaciones en las letras, el icono de candado en la parte superior izquierda y el inicio 
    del dominio https. Este sitio es oficial de Allkets.com y único sitio de creación de tiendas 
    en Allkets.com, no se deje engañar, nadie tiene autorización para pedir claves, dinero e 
    información personal a excepción de los trámites que se requieran dentro de la plataforma 
    que es de uso exclusivo, las redes sociales son netamente informativas y son las oficiales 
    que están conectadas al sitio.</p>

<h4>INFORMACIÓN RELEVANTE</h4>

<p>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, 
    que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. 
    El uso de nuestros servicios así como la compra de nuestros productos implicará que usted 
    ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los 
    productos que son ofrecidos por nuestro sitio web son creados, cobrados, enviados por 
    afiliados exclusivos del marketplace que se rigen por términos y condiciones de uso de 
    esta página con el fin de otorgar el mejor servicio. El usuario tiene la posibilidad de 
    no registrarse para la adquisición de los productos, sin embargo le recomendamos que se 
    registre para recibir novedades , promociones y pertenecer a programas de lealtad. </p>

<p>Los datos suministrados están protegidos, no serán vendidos ni cedidos a ningún tercero. 
    Para mayor información visite la política de privacidad de datos.</p>

<p>El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta 
    en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra 
    de alguno de nuestros productos. www.allkets.com no asume la responsabilidad en caso de 
    que entregue dicha clave a terceros.</p>

<p>Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, 
    están sujetas a un proceso de confirmación y verificación, el cual podría incluir la 
    verificación del stock y disponibilidad de producto, validación de la forma de pago, 
    validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas 
    por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por 
    medio de correo electrónico.</p>

<p>Los precios de los productos ofrecidos en este Marketplace son válidos solamente en las compras 
    realizadas en este sitio web.</p>

<h4>LICENCIA</h4>

<p>Allkets.com a través de su sitio web concede una licencia para que los usuarios utilicen los 
    productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se 
    describen en este documento.</p>

<h4>CAPACIDAD LEGAL</h4>

<p>Solo las personas mayores de edad y que se encuentren en condiciones legales de contratar o 
    adquirir un producto tendrán la posibilidad de hacer uso óptimo de la plataforma, 
    los trámites y transacciones dentro de este sitio web por menores de edad será responsabilidad 
    únicamente de padres o tutores. En caso de adquirir los servicios de creación de tienda virtual 
    y acogerse a los planes destinados por Allkets.com y actúen en nombre propio de una empresa, 
    podría entrar en proceso de verificación, deben cumplir con los requisitos que previamente serán 
    informados para la formalización. Los datos suministrados en los registros deben ser totalmente
    reales sin excepción para no incurrir en prácticas ilegales.</p>

<h4>USO DE LA PLATAFORMA</h4>

<p>Allkets.com mediante los textos informativos, señala los objetivos diferentes que requiera el usuario, 
    indicando los pasos para la óptima experiencia del sitio web. Dentro del uso de la plataforma los 
    usuarios tendrán a su disposición una serie de parámetros para compra y/o venta de productos, 
    también tendrán acceso a información importante a la hora de navegar en el sitio siempre protegiendo 
    y dando la mejor experiencia al usuario.</p>

<h4>USO NO AUTORIZADO</h4>

<p>En caso de que aplique (para venta de software, templetes, u otro producto de diseño y programación) 
    usted no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, 
    sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.</p>

<p>No se autoriza la venta de los productos de esta plataforma en otros sitios web, no deben utilizar 
    diseño, imágenes o reproducción de videos que pertenezcan al marketplace.</p>

<h4>MÉTODOS DE PAGO</h4>

<p>Los medios de pago serán informados y podrán ser visualizados por el usuario al momento de la compra, 
    Allkets.com maneja los mejores convenios para hacer su experiencia fácil, rápida y segura con altos 
    índices de seguridad y tecnología en cuanto a protección de datos, transferencias y sin obstrucciones 
    en el proceso de compra. Puede que en el momento de compra el usuario sea redirigido a un sitio 
    web tercero para finalizar su proceso, este sitio web maneja sus propios términos y condiciones de uso,
    lo cual de ser necesario deben ser leídos.</p>

<h4>PROPIEDAD</h4>

<p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, 
    modificado o sin modificar ni diseños elaborados exclusivamente por Allkets.com, la información 
    que ofrece Allkets.com es de uso informativo fuera de las ventas online, animaciones juegos 
    didácticos y todo lo que pertenece a la pagina es de uso exclusivo de la empresa Allkets.com. 
    Todos los productos son propiedad de los proveedores del contenido. En caso de que no se 
    especifique lo contrario, nuestros productos se proporcionan sin ningún tipo de garantía, 
    expresa o implícita. En ningún caso esta compañía será responsable de ningún daño incluyendo, 
    pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras 
    pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.</p>

<p>Todo material y productos son propiedad exclusiva de los creadores de tienda y del marketplace, 
    nadie puede suplantar a ninguna tienda o marca, por lo tanto no da derecho a venta ni distribución 
    de elementos y productos de este sitio web.</p>

<h4>POLÍTICA DE REEMBOLSO Y GARANTÍA</h4>

<p>Todo producto publicado en Allkets.com cuenta con una política de devolución monetaria si es necesaria, 
    si usted ha comprado algún producto en esta plataforma y al cabo del tiempo asignado no ha llegado 
    su producto, Allkets.com cuenta con un sistema de verificación donde su dinero está protegido, 
    si al cabo del tiempo asignado se comprueba que efectivamente no ha llegado su producto, Allkets.com 
    desembolsará el dinero de compra únicamente al titular de compra. Para que el proceso de devolución
    se lleve a cabo, es necesario que el usuario envíe un correo electrónico a devoluciones@allkets.com 
    para notificar su inconveniente, dentro de las siguientes 48 horas Allkets.com se pondrá en contacto 
    para formalizar el proceso de devolución. En todo caso si hay un problema con el operador logístico
    será enviada la notificación al correo que usted ha asignado previamente con el fin de dar solución 
    efectiva a su inconveniente adjuntando órdenes o guías de envío.</p>

<p>Si su producto no cumple con la descripción otorgada en el sitio web puede aplicar a la devolución 
    de su producto, en Allkets.com estamos seriamente comprometidos en no apoyar prácticas de publicidad 
    engañosa, por tal razón debe notificar por medio de un correo electrónico a devoluciones@allkets.com 
    la evidencia para proceder con la investigación y proceso de devolución, el tiempo establecido es de 
    48 horas para dar respuesta y notificar el proceso de devolución.</p>

<p>Importante: Es necesario leer rigurosamente las descripciones de los productos y en dado caso de tener 
    alguna duda comunicarse directamente con el propietario del producto para mayor información y de esta 
    manera no se presente ningún percance.</p>

<p>El proceso de devolución del producto debe estar en óptimas condiciones. </p>

<p>En el caso de productos que sean mercancías irrevocables no-tangibles, no realizamos reembolsos 
    después de que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo. 
    Le pedimos que lea cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla
    cuando la descripción no se ajusta al producto. Hay algunos productos que pudieran tener 
    garantía y posibilidad de reembolso pero este será especificado al comprar el producto. En tales casos 
    la garantía sólo cubrirá fallas de fábrica y sólo se hará efectiva cuando el producto se haya 
    usado correctamente. La garantía no cubre averías o daños ocasionados por uso indebido. 
    Los términos de la garantía están asociados a fallas de fabricación y funcionamiento en condiciones 
    normales de los productos y sólo se harán efectivos estos términos si el equipo ha sido usado 
    correctamente. Esto incluye:</p>

– De acuerdo a las especificaciones técnicas indicadas para cada producto.
– En condiciones ambientales acorde con las especificaciones indicadas por el fabricante.
– En uso específico para la función con que fue diseñado de fábrica.
– En condiciones de operación eléctricas acorde con las especificaciones y tolerancias indicadas.

<p>Importante: Asegúrese que el producto cuente con garantía dependiendo el tipo de producto que desee 
    comprar, por tal razón es de vital importancia leer rigurosamente la descripción del producto y en 
    dado caso para mayor información comunicarse con el propietario del producto.</p>

<h4>COMPROBACIÓN ANTIFRAUDE</h4>

<p>La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser 
    suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.</p>

<h4>RESPONSABILIDAD</h4>

<p>Allkets.com actúa como una plataforma de comercio electrónico que conecta vendedores y compradores,
    está seriamente comprometido con otorgar garantías de comercio justo y responsable, ofreciendo 
    únicamente un espacio virtual a los diferentes emprendedores y empresas para posicionar su marca, 
    aumentar su visibilidad y aumentar su competitividad por medio de  integraciones tecnológicas, de 
    igual manera ofrece este espacio virtual a toda persona que cumpla con la capacidad legal para 
    adquirir los productos de la plataforma.</p>

<p>Allkets.com no es responsable de la calidad de los productos, procedencia, no es dueño de productos 
    ni actúa como retenedor de impuestos, cada empresa vinculada independientemente debe cumplir con 
    sus obligaciones asignadas en caso tal impuestos y todo lo que conlleva internamente su empresa. 
    Allkets.com no tiene participación en temas tributarios. Allkets.com no vigila estas operaciones, 
    simplemente controla la dinámica dentro de la plataforma de comercio electrónico para que todo 
    proceso de compra y experiencia de usuario se haga de la mejor manera.  Allkets.com no promueve 
    las malas prácticas comerciales, presume la buena fe de las personas y empresas que se integran 
    al marketplace y que realizan compras en la plataforma. Allkets.com queda totalmente exonerado de
    cualquier mala práctica comercial que se realice en el marketplace, cada empresa o persona al momento 
    de crear su tienda online conocerá los términos y condiciones de uso exclusivos para fomentar las 
    buenas prácticas de comercio. En todo caso Allkets.com deja en constancia estos términos y condiciones 
    de uso para el buen manejo de la plataforma. </p>

<h4>NOTIFICACIONES</h4>

<p>Cualquier solicitud, comentario o sugerencia podrá ser recibida en el correo contacto@allkets.com 
    tenga en cuenta que nuestro servicio al cliente siempre estará disponible para recibir su solicitud.</p>

<p>Las redes sociales son netamente informativas todo proceso de compra o creación de tienda virtual 
    es en este dominio www.allkets.com. Las redes sociales oficiales están conectadas con este sitio web.</p>

<p>Allkets.com está vigilado por la superintendencia de industria y comercio.</p>

<h4>PRIVACIDAD</h4>

<p>Este sitio web www.allkets.com  garantiza que la información personal que usted envía cuenta 
    con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una 
    validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en 
    cumplimiento a una orden judicial o requerimientos legales.</p>

<p>La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser 
    seleccionada al momento de crear su cuenta.</p>
    
<p>Allkets.com reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</p>
Allkets.com Colombia  2020 Todos los derechos reservados


