<div class="container">
<div class="acerca-de">
  <h1>ACERCA DE ALLKETS</h1>
  <br />
  <br />
  <h2>¿ QUIENES SOMOS ?</h2>
 <p>Somos una agencia creativa de comercio electrónico y publicidad, 
   actualmente nos encontramos desarrollando diferentes alternativas y otorgando herramientas 
   a empresas para aumentar la competitividad corporativa.</p>

  <p>Este proyecto nace debido a una serie de estudios y análisis de 
    competitividad regional, donde los resultados nos arroja  
    dificultades y/o vacíos existentes en temas digitales en las empresas, 
    ya que se logra identificar que existe una gran oferta y variedad de productos 
    pero escasa demanda debido a que no existe en muchos casos canales de distribución 
    efectivos e integrales que logren cooperar en el funcionamiento óptimo corporativo. </p>
  
  <p>Allkets.com entra a dar solución a empresas que están incursionando en el mundo digital, 
    ofreciendo diferentes herramientas elaboradas y mecanizadas por un grupo de personas 
    apasionadas en áreas de tecnología, diseño, ciencias aplicadas a los negocios y necesidades corporativas, 
    fortaleciendo los esquemas empresariales en función de crecimiento competitivo.</p>
  
  <app-terminos-condiciones></app-terminos-condiciones>
  <app-politica-privacidad></app-politica-privacidad>
  <app-ayuda></app-ayuda>
  <app-soporte></app-soporte>
</div>
</div>