<section class="products">
    <h3 class="category-title">
        <span>Promos</span>
    </h3>
    <div class="products-list">
        <div class="row">
            <div class="col col-12 col-sm-6 col-md-3 col-lg-2" *ngFor="let i of [1,2,3,4,5,6]">
                <a href="#" [routerLink]="['/producto','PaSumerce','100','Ruana 100% lana']" class="product-item">
                    <div class="figure-inner">
                        <figure>
                            <img src="../../../../assets/images/product-image.png" alt="Product">
                        </figure>
                        <h4 class="price">$250000</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>