<section class="banner-box">
  <h1>Administración de cuenta</h1>
</section>
<section class="content-with-sidemenu">
  <aside>
    <ul class="links-box">
      <li>
        <a href="#">Accessories</a>
      </li>
      <li>
        <a href="#">Accessories</a>
      </li>
      <li>
        <a href="#">Accessories</a>
      </li>
      <li>
        <a href="#">Accessories</a>
      </li>
      <li>
        <a href="#">Accessories</a>
      </li>
      <li>
        <a href="#">Accessories</a>
      </li>
    </ul>
  </aside>
</section>
