<section class="banner-box">
  <h1>Administración de cuenta</h1>
</section>

<section class="content-with-sidemenu">
  <aside>
    <ul class="links-box">
      <li>
        <a (click)="cambiarSeccion('crearProducto')">Crear producto</a>
      </li>
      <li>
        <a (click)="cambiarSeccion('actTienda')">Actualizar tienda</a>
      </li>
      <li>
        <a href="#">Accessories</a>
      </li>
      <li>
        <a href="#">Accessories</a>
      </li>
      <li>
        <a href="#">Accessories</a>
      </li>
      <li>
        <a href="#">Accessories</a>
      </li>
    </ul>
  </aside>
</section>

<section class="content-body">
  <ng-container *ngIf="seccion == 'crearProducto'">
    <app-crear-producto></app-crear-producto>
  </ng-container>
  <ng-container *ngIf="seccion == 'actTienda'">
    <app-actualizar-tienda></app-actualizar-tienda>
  </ng-container>
</section>
